body, html{
	padding:0;
	margin:0;
	top: -20%;
	width: 100%;
	height: 140%;
	background-color: #b0ffff;
	overflow: hidden;
}

/*
@media screen and (max-height:700px) {
    #logpos {
    position: absolute;
    top: 77%;
    left: 50%;
    margin:0px;
    -webkit-animation: logi 8s;
    -moz-animation: logi 8s;
    -ms-animation: logi 8s;
    -o-animation: logi 8s; 
    animation: logi 8s;
}


@keyframes logi {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-moz-keyframes logi {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-webkit-keyframes logi {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-ms-keyframes logi {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-o-keyframes logi {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}
*/

@media screen and (max-width:960px) {
	#screenwarn {
		display: table;
		color: black;
		font-size: 1.4em;
		text-align:center;
	}

	button {
		display:none;
	}

	.bobing {
	position: absolute;
    -webkit-animation-name: bobmain; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 0; /* Chrome, Safari, Opera */
    animation-name: bobmain;
    animation-duration: 0s;
    animation-iteration-count: 0;
	}

	.logbob {
	position: absolute;
    -webkit-animation-name: boblog; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 0; /* Chrome, Safari, Opera */
    animation-name: boblog;
    animation-duration: 0s;
    animation-iteration-count: 0;
	}

	.sportbob {
	position: absolute;
    -webkit-animation-name: bobsport; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 0; /* Chrome, Safari, Opera */
    animation-name: bobsport;
    animation-duration: 0s;
    animation-iteration-count: 0;
	}

	.knowbob{
	position: absolute;
    -webkit-animation-name: bobknow; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 0; /* Chrome, Safari, Opera */
    animation-name: bobknow;
    animation-duration: 0s;
    animation-iteration-count: 0;
	}
}

#address{
	margin: 0 0 0 0;
	text-align:center;
}

a {
	text-decoration: none;
	color:black;
}

a:hover{
	text-decoration: none;
	color:white;
}

a:visited {
	text-decoration: none;
}

#screenwarn {
	display:none;
}

.knowbob:hover{
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

.knowbob {
	position: absolute;
	-webkit-animation-delay: 8s; /* Chrome, Safari, Opera */
    -webkit-animation-name: bobknow; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 70s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-delay: 8s;
    animation-name: bobknow;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    color: black;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bobknow {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: 20px;}
    20%  {left: 6px; top: -10px;}
    30%  {left: 10px; top: 15px;}
    40%  {left: 16px; top: -20px;}
    50%  {left: 20px; top: 12px;}
    60%  {left: 20px; top: -30px;}
    70%  {left: 15px; top: 10px;}
    80%  {left: 9px top: -17px;}
    90%  {left: 4px; top: 10px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes bobknow {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: 20px;}
    20%  {left: 6px; top: -10px;}
    30%  {left: 10px; top: 15px;}
    40%  {left: 16px; top: -20px;}
    50%  {left: 20px; top: 12px;}
    60%  {left: 20px; top: -30px;}
    70%  {left: 15px; top: 10px;}
    80%  {left: 9px top: -17px;}
    90%  {left: 4px; top: 10px;}
    100% {left: 0px; top: 0px;}
}

.noClick#knowbubble:hover > #knowtext{
	left: 25.3045px;
	top: 73.5px;
	color:#fff;
	text-shadow: 0px 0px 4px #000;
}

.noClick#knowbubble:hover::before{
	opacity: 1;
}


.noClick#knowbubble:hover{
	box-shadow: 5px 20px 15px 3px #000;
	width: 185px;
	height: 185px;
	font-size: 1.87em;
	border: 1px solid #3399FF;
}

.noClick#knowbubble{
	box-shadow: 2px 4px 10px #000;
}

#knowtext {
	left: 22.3045px;
	top: 69.5px;
	position: absolute;
	margin: 0px;
	padding: 0px;
	-webkit-transition: top 0.6s, left 0.6s, color 0.6s, text-shadow 0.6s;
}

#knowbubble {
	padding: 0px;
	margin:0px;
	text-align: center;
	border: solid #000;
	border-radius: 50%;
	width:170px;
	height: 170px;
	font-size: 1.7em;
	background-color: red;
	-webkit-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-moz-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-ms-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-o-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
}

#knowbubble::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100.5%;
    height: 100.5%;
    z-index: 0;
    opacity: 0;
    background-image: url(../images/knowbg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	-webkit-transition: opacity 0.65s;
	-moz-transition: opacity 0.65s;
	-ms-transition: opacity 0.65s;
	-o-transition: opacity 0.65s;
	transition: opacity 0.65s;
	border-radius:50%;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1%);
}

#knowpos {
	position: absolute;
	top: 50%;
	left: 28%;
	margin:0px;
	-webkit-animation: know 8s;
    -moz-animation: know 8s;
    -ms-animation: know 8s;
    -o-animation: know 8s; 
    animation: know 8s;
}

@keyframes know {
    0% { opacity: 0; top: 900px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:50%;}
}

@-moz-keyframes know {
    0% { opacity: 0; top: 900px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:50%;}
}

@-webkit-keyframes know {
    0% { opacity: 0; top: 900px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:50%;}
}

@-ms-keyframes know {
    0% { opacity: 0; top: 900px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:50%;}
}

@-o-keyframes know {
    0% { opacity: 0; top: 900px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:50%;}
}

#logpos {
	position: absolute;
	top: 65%;
	left: 50%;
	margin:0px;
	-webkit-animation: login 8s;
    -moz-animation: login 8s;
    -ms-animation: login 8s;
    -o-animation: login 8s; 
    animation: login 8s;
}

@keyframes login {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-moz-keyframes login {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-webkit-keyframes login {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-ms-keyframes login {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

@-o-keyframes login {
    0% { opacity: 0; top: 700px;}
    33% {opacity: 1; top:300px;}
    100%   { opacity: 1; top:65%;}
}

.noClick#logbubble:hover > #logtext{
	top: 33px;
	color:#fff;
	text-shadow: 0px 0px 4px #000;
}

.noClick#logbubble:hover::before{
	opacity: 1;
}


.noClick#logbubble:hover{
	box-shadow: 5px 20px 15px 3px #000;
	width: 142px;
	height: 142px;
	font-size: 1.87em;
	border: 1px solid #3399FF;
}

.noClick#logbubble{
	box-shadow: 2px 4px 10px #000;
}

#logbubble {
	overflow:hidden;
	text-align: center;
	border: 3px solid #000;
	padding: 0px;
	margin:0px;
	text-align: center;
	border: solid #000;
	border-radius: 50%;
	width:130px;
	height: 130px;
	font-size: 1.7em;
	background-color: green;
	-webkit-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-moz-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-ms-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-o-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
}

#logbubble::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100.5%;
    height: 100.5%;
    z-index: 0;
    opacity: 0;
    background-image: url(../images/logbg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	-webkit-transition: opacity 0.65s;
	-moz-transition: opacity 0.65s;
	-ms-transition: opacity 0.65s;
	-o-transition: opacity 0.65s;
	transition: opacity 0.65s;
	border-radius:50%;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1%);
}

.logbob:hover{
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

.logbob {
	position: absolute;
	-webkit-animation-delay: 10s; /* Chrome, Safari, Opera */
    -webkit-animation-name: boblog; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 70s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-delay: 10s;
    animation-name: boblog;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    color: black;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes boblog {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: -20px;}
    20%  {left: 6px; top: 10px;}
    30%  {left: 10px; top: -14px;}
    40%  {left: 16px; top: 19px;}
    50%  {left: 20px; top: -5px;}
    60%  {left: 20px; top: 10px;}
    70%  {left: 15px; top: -30px;}
    80%  {left: 9px top: 2px;}
    90%  {left: 4px; top: -10px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes boblog {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: -20px;}
    20%  {left: 6px; top: 10px;}
    30%  {left: 10px; top: -14px;}
    40%  {left: 16px; top: 19px;}
    50%  {left: 20px; top: -5px;}
    60%  {left: 20px; top: 10px;}
    70%  {left: 15px; top: -30px;}
    80%  {left: 9px top: 2px;}
    90%  {left: 4px; top: -10px;}
    100% {left: 0px; top: 0px;}
}

#logtext {
	-webkit-transition: top 0.65s, color 0.65s;
	position: absolute;
	top: 34px;
	left:20.031px;
	margin: 0px
}

.sportbob:hover{
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

#sportpos{
	position: absolute;
	top:22%;
	left: 67%;
	margin:0px;
	-webkit-animation: sportin 9s;
    -moz-animation: sportin 9s;
    -ms-animation: sportin 9s;
    -o-animation: sportin 9s;
    animation: sportin 9s;
}

@keyframes sportin {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:22%;}
}

@-moz-keyframes sportin {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:22%;}
}

@-webkit-keyframes sportin {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:22%;}
}

@-ms-keyframes sportin {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:22%;}
}

@-o-keyframes sportin {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:22%;}
}

.noClick#sportbubble:hover > #sporttext{
	top: 33px;
	color:#fff;
	text-shadow: 0px 0px 4px #000;
}

.noClick#sportbubble:hover::before{
	opacity: 1;
}


.noClick#sportbubble:hover{
	box-shadow: 5px 20px 15px 3px #000;
	width: 107px;
	height: 107px;
	font-size: 1.87em;
	border: 1px solid #00cc00;
}

.noClick#sportbubble{
	box-shadow: 2px 4px 10px #000;
}

#sportbubble {
	overflow:hidden;
	padding: 0px;
	margin:0px;
	text-align: center;
	border: 3px solid #000;
	border-radius: 50%;
	width:100px;
	height: 100px;
	font-size: 1.7em;
	background-color: #fc3;
	-webkit-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-moz-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-ms-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	-o-transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;
	transition: box-shadow 0.6s, width 0.6s, height 0.6s, font-size 0.7s, border 0.6s;

}

#sportbubble::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100.5%;
    height: 100.5%;
    z-index: 0;
    opacity: 0;
    background-image: url(../images/sportsbg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	-webkit-transition: opacity 0.65s;
	-moz-transition: opacity 0.65s;
	-ms-transition: opacity 0.65s;
	-o-transition: opacity 0.65s;
	transition: opacity 0.65s;
	border-radius:50%;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-ms-filter: blur(1px);
	-o-filter: blur(1px);
	filter: blur(1%);
}

#sporttext{
	-webkit-transition: top 0.65s, color 0.65s;
	position: absolute;
	top: 31.5px;
	left:11px;
	margin: 0px;
	color:#000;
	z-index: 2;
}

.sportbob {
	position: absolute;
	-webkit-animation-delay: 5s; /* Chrome, Safari, Opera */
    -webkit-animation-name: bobsport; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 70s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-delay: 5s;
    animation-name: bobsport;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    color: black;
	-webkit-animation-play-state:running;
	animation-play-state:running;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bobsport {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: -10px;}
    20%  {left: 6px; top: 20px;}
    30%  {left: 10px; top: -10px;}
    40%  {left: 16px; top: 15px;}
    50%  {left: 20px; top: -10px;}
    60%  {left: 20px; top: 20px;}
    70%  {left: 15px; top: -10px;}
    80%  {left: 9px top: 5px;}
    90%  {left: 4px; top: -15px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes bobsport {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: -10px;}
    20%  {left: 6px; top: 20px;}
    30%  {left: 10px; top: -10px;}
    40%  {left: 16px; top: 15px;}
    50%  {left: 20px; top: -10px;}
    60%  {left: 20px; top: 20px;}
    70%  {left: 15px; top: -10px;}
    80%  {left: 9px top: 5px;}
    90%  {left: 4px; top: -15px;}
    100% {left: 0px; top: 0px;}
}

#mainpos{
	position: absolute;
	top:30%;
	left:43.5625%;
	margin:0px;
	padding:0px;
	-webkit-animation: fadein 7s;
    -moz-animation: fadein 7s;
    -ms-animation: fadein 7s;
    -o-animation: fadein 7s; 
    animation: fadein 7s;
}

@keyframes fadein {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:30%;}
}

@-moz-keyframes fadein {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:30%;}
}

@-webkit-keyframes fadein {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:30%;}
}

@-ms-keyframes fadein {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:30%;}
}

@-o-keyframes fadein {
    0% { opacity: 0; top: 500px;}
    33% {opacity: 1; top:100px;}
    100%   { opacity: 1; top:30%;}
}

#maintext {
	position: absolute;
    text-align: center;
	margin: 0 auto;
	top: 40%;
	margin: 0px
}

#addressbubble{
	background-color: #00CCFF;
}

.mainbubble {
	padding: 0px;
	margin:0px;
	text-align: center;
	border: solid #000;
	border-radius: 50%;
	width:250px;
	height: 250px;
	font-size: 2.5em;
}

.bobing {
	position: absolute;
    -webkit-animation-name: bobmain; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 70s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: bobmain;
    animation-duration: 70s;
    animation-iteration-count: infinite;
    color: black;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bobmain {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: 10px;}
    20%  {left: 6px; top: -20px;}
    30%  {left: 10px; top: 18px;}
    40%  {left: 16px; top: -7px;}
    50%  {left: 20px; top: 22px;}
    60%  {left: 20px; top: -12px;}
    70%  {left: 15px; top: 9px;}
    80%  {left: 9px top: -15px;}
    90%  {left: 4px; top: 25px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes bobmain {
    0%   {left: 0px; top: 0px;}
    10%  {left: 4px; top: 10px;}
    20%  {left: 6px; top: -20px;}
    30%  {left: 10px; top: 18px;}
    40%  {left: 16px; top: -7px;}
    50%  {left: 20px; top: 22px;}
    60%  {left: 20px; top: -12px;}
    70%  {left: 15px; top: 9px;}
    80%  {left: 9px top: -15px;}
    90%  {left: 4px; top: 25px;}
    100% {left: 0px; top: 0px;}
}

.clearfix:after {
	visibility: hidden;
	clear:both;
	height:0;
	display:block;
	content:".";
}