@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,100);

@font-family {
  font-family: "Century Gothic";
  src: url("resources/fonts/gothic-b.eot");
  font-weight: bold;
}

@font-family {
  font-family: "Century Gothic";
  src: url("resources/fonts/gothic-b.ttf") format("truetype");
  font-weight: bold;
}

body, html {
	margin:0;
	padding:0;
	background-image:url(../images/grass.jpg);
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: bottom;
	background-color: #eee
}

.fonts {
	font-family"Century Gothic", Arial, Helvetica;
	font-weight: bold;
}

#Header {
	font-size: 3em;
	font-family:Arial Black, Gadget, sans-serif;
	/*
	border-radius: 400px 400px;
	background: blue;
	padding: 5px 10px 5px 10px;
	*/
	width:100%;
	color: #4c4c4c;
	margin-top: 30px;
}

/*
#gloabchat {
	position:absolute;
	left:80%;
	width:20%;
	background: #f5f5f5;
	height:100%;
}

#gloabclose {
	height:100%;
	border-radius: 0 20px 20px 0;
	width:17px;
	font-size: 1.5em;
	background-color: blue;
	color:white;
	padding-left:2px;
	transition: all 0.3s;
}

#gloabvert {
	position: absolute;
	top: 49%;
	font-weight: bold;
	transition: all 0.3s;
}

#gloabclose:hover > #gloabvert {
	color:grey;
}

#gloabclose:hover{
	background-color: white;
}
*/

a.whtlnk{
	text-decoration: none;
	color:white;
}

a.blklnk {
	text-decoration: none;
	color:black;
	font-size:1em;
	transition: color 0.3s;
}

a.blklnk:hover {
	color:#555;
}

#account {
	position: fixed;
	left: 0%;
	width: 20%;
	background: #ffb;
	height: 30%;
	border: black solid 2px;
	border-radius: 40px;
	margin-top: 3%;
	margin-left:15px;
}

#accountalign {
	position: absolute;
	padding-top:10px;
	font-weight: bold;
	text-align: center;
	margin-left: 35%;
}

#body {
	position: absolute;
	left:30%;
	height:70%;
	width: 66%;
	margin-right: 50px;
	float: right;
	background-color: red;
	border:black solid 3.5px;
	margin-top:3%;
	font-weight: bold;
	text-align: center;
	padding-top:7px;
}

@media screen and (max-width:1000px) {

	#account {
		display: none;
	}

	#body {
		position: absolute;
		float:none;
		margin-right:15px;
		margin-left:15px;
		margin-top:3%;
		width:95%;
		left:0px;
	}
}