@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,100,800);

@font-family {
  font-family: "Century Gothic";
  src: url("resources/fonts/gothic-b.eot");
  font-weight: bold;
}

@font-family {
  font-family: "Century Gothic";
  src: url("resources/fonts/gothic-b.ttf") format("truetype");
  font-weight: bold;
}

body, html {
	margin:0;
	padding:0;
	background-image:url(../images/grass.png);
	background-repeat: no-repeat;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: bottom;
	background-color: #ddFFdd;
}

#Homebuttonfade {

}

#pagefade {
	-webkit-animation: login 8s;
    -moz-animation: login 8s;
    -ms-animation: login 8s;
    -o-animation: login 8s; 
    animation: login 8s;
}

@keyframes login {
    0% {opacity: 0;}
    100%   {opacity: 1;}
}

@-moz-keyframes login {
    0% {opacity: 0;}
    100%   {opacity: 1;}
}

@-webkit-keyframes login {
    0% {opacity: 0;}
    100%   {opacity: 1;}
}

@-ms-keyframes login {
    0% {opacity: 0;}
    100%   {opacity: 1;}
}

@-o-keyframes login {
    0% {opacity: 0;}
    100%   {opacity: 1;}
}


#footballtitle {
	font-size: 1.7em;
	font-weight: bolder;
}

#backhome {
	border:solid 2px black;
	border-radius: 15px;
	background-color:#DAB6DA;
	width:200px;
	float: right;
	font-weight: bold;
	font-size: 1.7em;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-right: 60px;
	color:black;
	text-decoration: none;
	transition: .2s;
	-webkit-transition: .2s;
}

#accountname {
	font-size: 1.2em;
	font-family: "Raleway", sans-serif;
	font-weight:800;
}

a#backhome:hover {
	box-shadow: 4px 6px 8px #444;
	margin-right: 62px;
	margin-top: -4px;
	background: #FFCCFF;
	text-decoration:none;
}

#acntsetng {
	text-decoration: none;
	color:black;
	font-weight: bold;
	transition: .2s;
	-webkit-transition: .2s;
}

#acntsetng:hover {
	border-bottom:1px solid;
	color:#333;
	font-size: 1.1em
}

#footballbody {
	padding:15px 15%;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
}

#header {
	font-size: 3em;
	font-family:Arial Black, Gadget, sans-serif;
	width:100%;
	color: black;
	margin-top: 30px;
}

a.whtlnk{
	text-decoration: none;
	color:white;
}

a.blklnk {
	text-decoration: none;
	color:black;
	font-size:1em;
	transition: color 0.3s;
}

a.blklnk:hover {
	color:#555;
}

#account {
	position: fixed;
	text-align: center;
	left: 0%;
	width: 20%;
	background: #DAB6DA;
	height: 30%;
	border: black solid 2px;
	border-radius: 15px;
	margin-top: 3%;
	margin-left:15px;
	box-shadow: 4px 6px 9px #999;
	text-align: center;
}

#accountalign {
	padding-top:10px;
	font-weight: bold;
	text-align: center;
}

#body {
	position: absolute;
	left:20%;
	height:auto;
	width: 88%;
	margin-right: 50px;
	float: right;
	margin-top:4%;
	font-weight: bold;
	text-align: center;
	padding-top:7px;
	padding-bottom: 50px;
}

@media screen and (max-width:1000px) {

	#account {
		display: none;
	}

	#body {
		position: absolute;
		float:none;
		margin-right:15px;
		margin-left:15px;
		margin-top:4%;
		margin-bottom:10%;
		width:95%;
		left:0px;
	}

	#fish {
		display:none;
	}

	#backhome{
		margin-top: -50px;
		margin-right:50px;
	}

	a#backhome:hover {
	box-shadow: 4px 6px 8px #444;
	margin-right: 52px;
	margin-top: -54px;
	background: #0ad;
	}
}