@charset "utf-8";
/* CSS Document */

body{
	background-color: #b2f0b2;
}

#centrebubble{
	position: absolute;
	width: 30%;
	left: 35%;
	top: 30%;
	-webkit-animation:mainfade;
	-webkit-animation-duration: 2s;
}

#bubblemain{
	text-align:center;
	font-size: 250%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	background-color: #090;
	border-radius: 60px;
	padding: 5% 5% 5% 5%;
	background-image: radial-gradient(rgba(300,300,300,1), rgba(133,255,133,1), rgba(0,0,0,0));
	background-image: -webkit-radial-gradient(rgba(300,300,300,1), rgba(133,255,133,1), rgba(0,0,0,0)); 
    background-image:    -moz-radial-gradient(rgba(0,0,0,0), rgba(133,255,133,1), rgba(300,300,300,1)); 
    background-image:     -ms-radial-gradient(rgba(0,0,0,0), rgba(133,255,133,1), rgba(300,300,300,1)); 
    background-image:      -o-radial-gradient(rgba(0,0,0,0), rgba(133,255,133,1), rgba(300,300,300,1));
	border: #000 solid 1px;
}



@-webkit-keyframes mainfade{
	0%{
		opacity: 0;
		top: -30px;
}

	100%{
		opacity: 1;
		top: 30%;
}
}

#sportsalign{
	position: absolute;
	width: 15%;
	left: 58%;
	opacity: 0;
	top: 5%;
}

#bubblesports{
	opacity: 1;
	text-align:center;
	font-size: 200%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color: #FC3;
	border-radius: 60px;
	padding: 5% 5% 5% 5%;
	background-image: linear-gradient(to top right, rgba(300,300,300,1), rgba(255,230,153,1), rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-linear-gradient(to top right, rgba(300,300,300,1), rgba(255,230,153,1), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(top right, rgba(300,300,300,1), rgba(255,230,153,1), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(top right, rgba(300,300,300,1), rgba(255,230,153,1), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(top right, rgba(300,300,300,1), rgba(255,230,153,1), rgba(0,0,0,0), rgba(0,0,0,0));
	border: #000 solid 1px;
}

@-webkit-keyframes sportsfade{
	0%{
		opacity: 0;
		top: 0%;
	}
	
	50%{
		opacity: 0;
		top: 13%;
	}
	
	100%{
		opacity: 1;
		top: 18%;
	}
}

#computingalign{
	opacity: 0;
	position: absolute;
	width: 20%;
	right: 70%;
	top: 25%;
}

#bubblecomputing{
	text-align:center;
	font-size: 200%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color: #03F;
	border-radius: 60px;
	padding: 5% 5% 5% 5%;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(117,145,255,1), rgba(300,300,300,1));
	background-image: -webkit-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(117,145,255,1), rgba(300,300,300,1)); 
    background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(117,145,255,1), rgba(300,300,300,1)); 
    background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(117,145,255,1), rgba(300,300,300,1)); 
    background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,0), rgba(117,145,255,1), rgba(300,300,300,1));
	border: #000 solid 1px;
}

@-webkit-keyframes computingfade{
	0%{
		opacity: 0;
		top: 0%;
	}
	
	50%{
		opacity: 0;
		top: 30%;
	}
	
	100%{
		opacity: 1;
		top: 35%;
	}
}

#educationalalign{
	opacity: 0;
	position: absolute;
	width: 20%;
	left: 70%;
	top: 21%;

}

#bubbleeducational{
	text-align:center;
	font-size: 200%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color: #09F;
	border-radius: 60px;
	padding: 5% 5% 5% 5%;
	background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(145,211,255,1), rgba(300,300,300,1));
	background-image: -webkit-linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(145,211,255,1), rgba(300,300,300,1)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(145,211,255,1), rgba(300,300,300,1)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(145,211,255,1), rgba(300,300,300,1)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0), rgba(145,211,255,1), rgba(300,300,300,1));
	border: #000 solid 1px;

}

@-webkit-keyframes educationalfade{
	0%{
		opacity: 0;
		top: 0%;
	}
	
	50%{
		opacity: 0;
		top: 30%;
	}
	
	100%{
		opacity: 1;
		top: 35%;
	}
}

#miscalign{
	opacity: 0;
	position: absolute;
	width: 15%;
	right: 58%;
	top: 9%;
}

#bubblemisc{
	text-align:center;
	font-size: 200%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color: #C3F;
	border-radius: 60px;
	padding: 5% 5% 5% 5%;
	background-image: linear-gradient(to top left, rgba(300,300,300,1), rgba(233,166,255,1), rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-linear-gradient(to top left, rgba(300,300,300,1), rgba(233,166,255,1), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(top left, rgba(300,300,300,1), rgba(233,166,255,1), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(top left, rgba(300,300,300,1), rgba(233,166,255,1), rgba(0,0,0,0), rgba(0,0,0,0), rgba(255,218,110,1)); 
    background-image:      -o-linear-gradient(top left, rgba(300,300,300,1), rgba(230,153,255,1), rgba(0,0,0,0), rgba(0,0,0,0));
	border: #000 solid 1px;
}

@-webkit-keyframes miscfade{
	0%{
		opacity: 0;
		top: 0%;
	}
	
	50%{
		opacity: 0;
		top: 13%;
	}
	
	100%{
		opacity: 1;
		top: 18%;
	}
}

#signupalign{
	opacity: 0;
	position: absolute;
	width: 15%;
	left: 42.5%;
	bottom: 30%;
}

#bubblesignup{
	text-align:center;
	font-size: 200%;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color: #F30;
	padding: 5% 5% 5% 5%;
	border-radius: 60px;
	background-image: linear-gradient(to bottom, rgba(300,300,300,1), rgba(255,161,138,1), rgba(0,0,0,0), rgba(0,0,0,0));
	background-image: -webkit-linear-gradient(to bottom, rgba(300,300,300,1), rgba(255,161,138,1), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(bottom, rgba(300,300,300,1), rgba(255,161,138,1), rgba(0,0,0,0), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(bottom, rgba(300,300,300,1), rgba(255,161,138,1), rgba(0,0,0,0), rgba(0,0,0,0), rgba(255,218,110,1)); 
    background-image:      -o-linear-gradient(bottom, rgba(300,300,300,1), rgba(230,153,255,1), rgba(0,0,0,0), rgba(0,0,0,0));
	border: #000 solid 1px;
}

@-webkit-keyframes signupfade{
	0%{
		opacity: 0;
		top: 0%;
	}
	
	50%{
		opacity: 0;
		bottom: 23%;
	}
	
	100%{
		opacity: 1;
		bottom: 18%;
	}
}