@charset "utf-8";
/* CSS Document */

#mbsports{
	background-color: #fc3;
	width: 150px;
	height: 150px;
}

#sportmaint{
	font-family: "Century Gothic", Arial, Helvetica;
	position: absolute;
	top: 35%;
}