@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,100);

html, body{
	background-color: #F5CCF5;
}

#sportsmain{
	position: absolute;
	top:30%;
	left:43.5625%;
	margin:0px;
	padding:0px;
	opacity: 0;
	-webkit-animation: in 2s 1s forwards;
	-moz-animation: in 2s 1s forwards;
	-ms-animation: in 2s 1s forwards;
	-o-animation: in 2s 1s forwards;
	animation: in 2s 1s forwards;
}

#mbsports{
	background-color: #fc3;
	width: 12vw;
	height: 12vw;
}

#sportmaint{
	font-family: "Raleway", sans-serif;
	position: absolute;
	top: 38%;
}

.toplist{
	text-align: center;
	margin: 0 auto;
	border-spacing: 2vw;
	position: relative;
}

.rightlist{
	position: absolute;
	float: right;
	text-align: center;
	right: 12vw;
	bottom: 40%;
	border-spacing: 2vw;
}

.leftlist{
	position: absolute;
	float: left;
	text-align: center;
	left: 12vw;
	bottom: 40%;
	border-spacing: 2vw;
}

.bottomdiv{
	text-align: center;
	left: 19vw;
	border-spacing: 2vw;
	position: absolute;
	bottom: 5vh
}

.listlink{
	font-size: 2vw;
	font-family: "Raleway", sans-serif;
}

@-webkit-keyframes in {
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}

@keyframes in {
	0%{
		opacity: 0;
	}
	
	100%{
		opacity: 1;
	}
}