body, html{
	padding: 0px;
	margin:0px;
	background-color: #333;
	vertical-align: middle;
	text-align: center;
	-webkit-animation: fadeinn 3s;
    -moz-animation: fadeinn 3s;
    -ms-animation: fadeinn 3s;
    -o-animation: fadeinn 3s; 
    animation: fadeinn 3s;
}

@keyframes fadeinn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-moz-keyframes fadeinn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fadeinn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-ms-keyframes fadeinn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-o-keyframes fadeinn {
	from {opacity: 0;}
	to {opacity: 1;}
}

#title {
	font-size: 3em;
	color: white;
	text-align: center;
	margin:20px;
}

#content {
	margin-top: 30px;
	text-align: center;
	margin-left:30%;
	margin-right:30%;
	vertical-align: middle;
	font-size: 1em;
	color:white;
}

#subtitle{
	font-size: 2em;
	text-align: center;
	color: #ddd;
}

.leftin{
	position: relative;
    -webkit-animation-name: test; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: test;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes test {
    0%   {left: -500px; top: 0px;}
    50%  {left: 0px; top: 0px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes test {
    0%   {left: -500px; top: 0px;}
    50%  {left: 0px; top: 0px;}
    100% {left: 0px; top: 0px;}
}

.rightin{
	position: relative;
    -webkit-animation-name: righti;/* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: righti;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes righti {
    0%   {left: 500px; top: 0px;}
    50%  {left: 0px; top: 0px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes righti {
    0%   {left: 500px; top: 0px;}
    50%  {left: 0px; top: 0px;}
    100% {left: 0px; top: 0px;}
}

#fadedown {
	position: relative;
    -webkit-animation-name: downin;/* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: downin;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes downin {
    from {top: 500px;}
    to {top: 0px;}
}

/* Standard syntax */
@keyframes downin {
    0%   {left: 500px; top: 0px;}
    50%  {left: 0px; top: 0px;}
    100% {left: 0px; top: 0px;}
}

#recentl{
	float:left;
	width: 20%;
	vertical-align: center;
	text-align: center;
	margin-left: 15px;
	margin-right: 100px;
    border: 2px solid #555;
    border-radius: 40px;
    padding: 25px;
    color: #ddd;
}

#recentr{
	float:right;
	width: 20%;
	vertical-align: center;
	text-align: center;
	margin-right: 15px;
	margin-left: 100px;
    border: 2px solid #666666;
    border-radius: 40px;
    padding: 25px;
    color: #ddd;
}

#fadebox{
	-webkit-animation: fadei 1.5s;
    -moz-animation: fadei 1.5s;
    -ms-animation: fadei 1.5s;
    -o-animation: fadei 1.5s; 
    animation: fadei 1.5s;
}

@keyframes fadei {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-moz-keyframes fadei {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-webkit-keyframes fadei {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-ms-keyframes fadei {
	from {opacity: 0;}
	to {opacity: 1;}
}

@-o-keyframes fadei {
	from {opacity: 0;}
	to {opacity: 1;}
}

.fade{
	-webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s; 
    animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#title .titledown {
	position: relative;
    -webkit-animation-name: titled; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: titled;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes titled {
    0%   {left: 0px; top: -100px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes titled {
    0%   {left: 0px; top: -100px;}
    100% {left: 0px; top: 0px;}
}

#title .titledown1 {
	position: relative;
    -webkit-animation-name: tdone; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: tdone;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes tdone {
    0%   {left: 0px; top: -100px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes tdone {
    0%   {left: 0px; top: -100px;}
    100% {left: 0px; top: 0px;}
}

#title .titledown2 {
	position: relative;
    -webkit-animation-name: ttwo; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: ttwo;
    animation-duration: 1.3s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ttwo {
    0%   {left: 0px; top: -100px;}
    100% {left: 0px; top: 0px;}
}

/* Standard syntax */
@keyframes ttwo {
    0%   {left: 0px; top: -100px;}
    100% {left: 0px; top: 0px;}
}


#title .titleup {
	position: relative;
    -webkit-animation-name: titleu; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: titleu;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes titleu {
    0%   {top: 100px;}
    100% {top: 0px;}
}

/* Standard syntax */
@keyframes titleu {
    0%   {top: 100px;}
    100% {top: 0px;}
}

#title .titleup1 {
	position: relative;
    -webkit-animation-name: tuone; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: tuone;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes tuone {
    0%   {top: 100px;}
    100% {top: 0px;}
}

/* Standard syntax */
@keyframes tuone {
    0%   {top: 100px;}
    100% {top: 0px;}
}

#title .titleup2 {
	position: relative;
    -webkit-animation-name: tutwo; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: tutwo;
    animation-duration: 1	s;
    animation-iteration-cout: 1;
}

@-webkit-keyframes tutwo {
    0%   {top: 100px;}
    100% {top: 0px;}
}

/* Standard syntax */
@keyframes tutwo {
    0%   {top: 100px;}
    100% {top: 0px;}
}

#title .titleup3 {
	position: relative;
    -webkit-animation-name: tuthree; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2.5s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: tutwo;
    animation-duration: 2.5s;
    animation-iteration-cout: 1;
}

@-webkit-keyframes tuthree {
    0%   {top: 100px;}
    100% {top: 0px;}
}

/* Standard syntax */
@keyframes tuthree {
    0%   {top: 100px;}
    100% {top: 0px;}
}

 hr.sidefade {border: 0; height: 2px; 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));       
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); 
	width:90%;
	position: relative;
    -webkit-animation-name: topbar; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 3s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-name: topbar;
    animation-duration: 3s;
    animation-iteration-cout: 1;
 }

/* Chrome, Safari, Opera */
 @-webkit-keyframes topbar {
    0%   {width:50px;}
    100% {width:90%;}
}

/* Standard syntax */
@keyframes topbar {
    0%   {width:50px;}
    100% {width:90%;}
}




/*START OF MENU*/
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
/* Starter CSS for Menu */
#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 2;
  cursor: default;
}
#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 0;
  left: 190px;
  width: 190px;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
  z-index: 2
}
#cssmenu ul ul {
  bottom: 0;
  left: 0;
}
#cssmenu ul ul {
  margin-top: 0;
}
#cssmenu ul ul li {
  font-weight: normal;
}
#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}
/* Custom CSS Styles */
#cssmenu {
	position: relative;
	padding: 0;
	margin: 0;
	border: 0;
	width: auto;
	vertical-align: middle;
	z-index: 1;
	background: #333333;
	border-top: 4px solid #FF9900;
	border-bottom: 4px solid #FF9900;
	font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
 	font-size: 12px;
 	z-index: 
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));       
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); 
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0)); 
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
	-webkit-animation: fade 5s;
	-moz-animation: fade 5s;
 	-ms-animation: fade 5s;
	-o-animation: fade 5s; 
	animation: fade 5s;
}

@keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#cssmenu > ul {
  *display: inline-block;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu ul {
  text-transform: uppercase;
}
#cssmenu ul ul {
  border-top: 4px solid #FF9900;
  text-transform: none;
  min-width: 190px;
}
#cssmenu ul ul a {
  background: #FF9900;
  color: #ffffff;
  border: 1px solid whitegrey;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}
#cssmenu ul ul ul {
  border-top: 0 none;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid #000000;
}
#cssmenu ul ul li:hover > a {
  background: #333;
  color: #ffffff;
  z-index: 2;
}
#cssmenu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 0 1px 0 #FF9900;
  -webkit-box-shadow: 0 1px 0 #FF9900;
  box-shadow: 0 1px 0 #FF9900;
}
#cssmenu ul ul li:last-child:hover > a {
  -moz-border-radius: 0 0 0 3px;
  -webkit-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#cssmenu ul ul li.has-sub > a:after {
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
  z-index: 2;
}
#cssmenu ul li:hover > a,
#cssmenu ul li.active > a {
  background: #FF9900;
  color: #ffffff;
}
#cssmenu ul li.has-sub > a:after {
  content: '+';
  margin-left: 5px;
  z-index: 2;
}
#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu a {
  color: #CBCBCB;
  padding: 0 20px;
}
#cssmenu > ul > li > a {
  line-height: 48px;
  font-size: 12px;
}

/*END OF MENU*/



@media screen and (max-width:1023px) {
	main {
		float: left;
	}

	#recentl {
		visibility: hidden;
		padding: 0px;
		margin:0px;
	}

	#recentr{
		visibility: hidden;	
		padding: 0px;
		margin:0px;
	}

	#content{
	margin-top: 30px;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	vertical-align: middle;
	font-size: 1em;
	color:white;
	}
}